
body{
 
}

#overworld{
  flex-direction: column;
}

#coin-count,#mana-cube-count,#bullet-count,#health-potion-count,#wall-count{
  font-family: Pixelify Sans;
  opacity: 1;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-left:7.5px;
  padding-right: 7.5px;
  
}

#character{
  z-index: 1
}
#player_health{
  position: fixed;
  width: 100%;
  font-family: Pixelify Sans;
  color: white;
  background-color: black;
  font-weight: bold;
  border: 5px solid white;
  bottom: 0;
  left:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#divider{
  font-size: 40px;
}
#health{
  background-color: gray;
  border: 2.5px solid white;
  align-items: center;
  display: flex;
  width: 400px;
}
#health-bar{
  background-color: red;
  vertical-align: middle;
  display: grid;
  grid-template-columns: 1fr;
}
#coin-container{
  display: flex;
}
#mana{
  background-color: gray;
  border: 2.5px solid white;
  align-items: center;
  display: flex;
  width: 400px;
}
#mana-bar{
  background-color: blue;
  vertical-align: middle;

}
#player_health_middle{
  display:flex;
  flex-direction: row;
  gap: 5px;
}
.mana-hover{
  display: none;
}
.mana-cube:active+.mana-hover{
  display: flex;
}

.mana-cube{
  cursor: pointer;
}
#house_south{
  z-index: 0;
  position: relative;
  cursor: pointer;
}
#house-container{
  display:flex;
  flex-direction: column;
  
  position: relative;
}
#enter-house{
  position: fixed;
  color: white;
  font-weight: bold;
  font-size: 21px;
  background-color: black;
  border: 5px solid white;
  text-align: center;
  padding: 10px;
  letter-spacing: 1.5px;
  top: 10px;
  left: 35%;
  z-index: 2000
}
#house-yes{
  margin-right: 10px;
  cursor: pointer;
}
#house-no{
  margin-left:10px;
  cursor: pointer;
}
#loading-screen-house{
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Pixelify Sans;
  color: white;
  gap: 50px;
}
#loading{
  font-size: 48px;
  display:flex;
  align-items: center;
}
#fred{
  height: 72.5px;
  z-index: 2;
  position: fixed;
  top: 360px;
  left:10px;
}
.bullet{
  position: fixed;
  z-index: -123;
}
.zombies{
  position: fixed;;
}
#trade-popup{
  background-color: black;
  color: white;
  display: flex;
  width: 215px;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 4.5px solid white;
  position: relative;
  z-index: 123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412123810274098370498173041093874018370982741093019873204918723098417932740198327418041973294173209481032984712387410237417320419873204198730918703481703974017410237401940173204918730481703874102374019731083701865019685019650183691863250918230598163095812093847102412
}
#trade-button{
  margin-left:10px;
  border: 2.5px solid white;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: Pixelify Sans;
  cursor: pointer;
}
#trade-button:hover{
  background-color: rgb(30,30,30);
}
#trade-button:active{
  margin-top: 1px;
  margin-bottom: -1px;

}
#trade-bullet,#trade-wall{
  display: flex;
  align-items: center;
}
#round-container{
  font-family: Pixelify Sans;
  position: fixed;
  top:0;
  left:50%;
  font-size: 38px;
  color:white;
}
.bullet{
height: 10px;
}
#game-over-container{
  background-color: black;
  width: 100vw;
  height: 100vh;
  display:none;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.9;
}
#game-over{
  color:red;
  font-size:42px;
  font-weight: bold;
}
#game-over-desc{
  color: white;
  font-size:20px;
}
#welcome{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  height:100vh;
  background-color: black;
  opacity: 0.95;
  color: white;
  justify-content: center;
  text-align: center;
}
#title,#difficulty-title{
  font-size:48px;
  color:white;
  margin-top: 25px;
  font-weight:bold;
}
#desc{
  font-size:24px;
  color:white;
  margin-top: 5px;
  margin-bottom: 20px;
}
#welcome-buttons-container{
  display:flex;
  flex-direction: column;
  gap: 10px;
}
.welcome-buttons{
  width: 250px;
  height: 60px;
  border: 2.5px gray solid;
  background-color: rgb(240, 240, 240);
  color: black;
  font-family: Pixelify Sans;
  font-size: 24px;
  cursor: pointer;
}
.welcome-buttons:hover{
  opacity: 0.9;
}
.welcome-buttons:active{
  opacity: 0.85;
}
#control-view{
  font-size: 30px;
  margin-bottom: 10px;
}
#version-info{
  margin-top: 30px;
  font-size:24px
}
#version-button{
  font-family: Pixelify Sans;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border: 2px gray solid
}
#version-button:hover{
  opacity: 0.9;
}
#version-button:active{
  opacity: 0.85;
}
.patch-version{
  font-size: 30px;
}
#upcoming-version{
  font-size: 60px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.version-desc{
  display:block;
}
.patch-version{
  margin-bottom: 25px;
}
#restart-button{
  width: 250px;
  height: 60px;
  border: 2.5px gray solid;
  background-color: rgb(240, 240, 240);
  color: black;
  font-family: Pixelify Sans;
  font-size: 24px;
  cursor: pointer;
}
#boss-health-container{
  width:750px;
  background-color: gray;
  border: 2px solid white;
  position: fixed;
  top:50px;
  left: 500px;
}
#boss-health{
  width: 750px;
  background-color: red;
}
#difficulty{
  display:none;
  flex-direction: column;
  align-items: center;
  width:100vw;
  height:100vh;
  background-color: black;
  opacity: 0.95;
  color: white;
  justify-content: center;
  text-align: center;
}
.difficulty-buttons{
  width: 250px;
  height: 60px;
  border: 2.5px gray solid;
  background-color: rgb(240, 240, 240);
  color: black;
  font-family: Pixelify Sans;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
}
.difficulty-buttons:hover{
  opacity: 0.9;
}
.difficulty-buttons:active{
  opacity:0.85;
}
#difficulty-buttons-container{
  margin-top: -300px;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.cont1{
  width:250px;
}